{% extends "base/base_dashboard.html" %}
{% load static %}
{% load humanize %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Dashboard Vendedor</h1>
<h1>Vendas do {{ request.user.username }}</h1>

<h2>Minhas Vendas</h2>
<ul>
  {% for sale in request.user.daily_sales.all %}
    <li>{{ sale.sale_date }} → R$ {{ sale.total_amount }} (Comissão: R$ {{ sale.calculated_commission }})</li>
  {% empty %}
    <li>Nenhuma venda registrada</li>
  {% endfor %}
</ul>

<h1>{{ request.user.get_full_name }}</h1>
<p>Total vendido: R$ {{ request.user.total_sold }}</p>
<p>Total de comissão: R$ {{ request.user.total_commission_paid }}</p>




</div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('salesChart').getContext('2d');
        const salesData = {{ monthly_sales|safe }};
    </script>
{% endblock %}